.display {
    border: 1px solid black;
    min-height: 60px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
    border-radius: 8px;

}
.expression{
    font-size: 18px;
    color:#555;
}
.result{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}
.btn-grid{
    display:grid;
    grid-template-columns: repeat(4,60px);
    gap:10px;
    justify-content: center;
   
}
.btn{
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: #ddd;
    cursor: pointer;
    transition: backgrond 0.2s;
}
.btn-hover{
    background-color: #bbb;
}
